# .venv directory
.venv/

# .idea/ directory
.idea/

# Python cache
__pycache__/
*.pyc
*.pyo

# Sphinx build directory
docs/build/
docs/class_diagram.png
docs/object_diagram.png

# Misc
*.log
*.sqlite3
.DS_Store